<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 绑定一个对应的Dao/Mapper接口-->
<mapper namespace="cn.ming.dao.UserMapper">
    <!--查询所有用户 id对应方法名-->
    <select id="getUserList" resultType="User">
        select * from user
    </select>

    <!--根据id查询用户  parameterType:参数类型-->
    <select id="getUserById" parameterType="int" resultType="cn.ming.pojo.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <!--添加一个用户-->
    <insert id="addUser" parameterType="cn.ming.pojo.User">
        INSERT INTO user (id,name,pwd) VALUES (#{id},#{name},#{pwd})
    </insert>

    <!--修改用户-->
    <update id="updateUser" parameterType="cn.ming.pojo.User">
        UPDATE user SET name=#{name},pwd=#{pwd} WHERE id =#{id}
    </update>

    <!--删除用户-->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>